@model IEnumerable<MobileStore.Domain.Entities.Sale>
@using MobileStore.Domain.Entities

<hr />
<h5>Pozycje na fakturze</h5>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.CommodityID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem=>item.CommodityID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesPrice)
        </td>
    </tr>
}
</table>
