@model IEnumerable<MobileStore.Domain.Entities.Invoice>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Wystawione faktury</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceNumber)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNumber)
            </td>
            <td>
                @Html.ActionLink("Dodaj pozycje do faktury", "AddSale", new { item.InvoiceID }, new { @class = "btn btn-default" })
                @Html.ActionLink("Edit", "Edit", new { item.InvoiceID }, new { @class = "btn btn-default" }) 
                @Html.ActionLink("Details", "Details", new { item.InvoiceID }, new { @class = "btn btn-default" }) 
            </td>
        </tr>
    }
    
    </table>
