<div id="sidebar-wrapper">
    <div>
        <img alt="" src="~/Content/mobileStoreLogo1.jpg" id="logo" />
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <div class="dropdown">
                <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Faktura
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>@Html.ActionLink("Wystawione faktury", "Index", "Invoice")</li>
                    <li>@Html.ActionLink("Utwórz nową fakturę", "Create", "Invoice")</li>
                </ul>
            </div>
        </li>
        <li class="sidebar-brand">
            <div class="dropdown">
                <a class=""  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Producent
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>@Html.ActionLink("Lista producentów", "Index", "AdminProducer")</li>
                    <li>@Html.ActionLink("Dodaj producena", "Create", "AdminProducer")</li>
                </ul>
            </div>
            
        </li>
        <li class="sidebar-brand">
            <div class="dropdown">
                <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Model
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>@Html.ActionLink("Dostępne modele", "Index", "AdminProductModel")</li>
                    <li>@Html.ActionLink("Dodaj nowy model", "Create", "AdminProductModel")</li>
                </ul>
            </div>
        </li>
        <li class="sidebar-brand">
            <div class="dropdown">
                <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Typ
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>@Html.ActionLink("Dostępne typu produktów", "Index", "AdminProductType")</li>
                    <li>@Html.ActionLink("Dodaj nowy typ", "Create", "AdminProductType")</li>
                </ul>
            </div>
        </li>
        <li class="sidebar-brand">
            <div class="dropdown">
                <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Typ
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>@Html.ActionLink("Lista sprzedawców", "Index", "AdminSeller")</li>
                    <li>@Html.ActionLink("Dodaj nowego sprzedawcę", "Create", "AdminSeller")</li>
                </ul>
            </div>
        </li>
        <li class="sidebar-brand">
            <div class="dropdown">
                <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Sim Lock
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>@Html.ActionLink("Lista blokad Sim Lock", "Index", "AdminSimLocker")</li>
                    <li>@Html.ActionLink("Dodaj nową blokadę Sim Lock", "Create", "AdminSimLocker")</li>
                </ul>
            </div>
        </li>
        <li class="sidebar-brand">
            <div class="dropdown">
                <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Towary
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>@Html.ActionLink("Lista wszystkich towarów", "Index", "Commodity")</li>
                    <li>@Html.ActionLink("Dodaj nowy towar", "Create", "Commodity")</li>
                </ul>
            </div>
        </li>
    </ul>
    
</div>
<a id="menu-toggle" class="btn btn-default" href="#menu-toggle"><span id="span-toggle" class="glyphicon glyphicon-arrow-left"></span></a>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $('#span-toggle').toggleClass("glyphicon glyphicon-arrow-right");
        $('#span-toggle').toggleClass("glyphicon glyphicon-arrow-left");
    });
</script>